<!doctype html>
<html>
{{ template "header" . }}
<body>
{{ template "navbar" . }}

<div class="container-fluid">
    <div class="row">
        <div class="col-md table-responsive">
            <table class="table table-bordered table-sm">
                <thead>
                <tr>
                    <th>name</th>
                    <th>value</th>
                    <th>std dev</th>
                    <th>95%</th>
                </tr>
                </thead>

                <tbody>
                {{range $index, $variant := .Characteristics}}
                    <tr>
                        <td>{{ $variant.Name }}</td>
                        <td>{{ $variant.Val }}</td>
                        <td>{{ $variant.StdDev }}</td>
                        <td>[{{ $variant.From }};{{ $variant.To }}]</td>
                    </tr>
                {{end}}
                </tbody>
            </table>
        </div>
        <div class="col-md-4 order-first order-md-last">
            <img class="img-fluid mx-auto d-block border" src="data:image/svg+xml;base64,{{.Image}}">
        </div>
    </div>

    {{ template "footer" . }}
</body>
</html>