<!doctype html>
<html>
{{template "header" .}}
<body>

<form method="post" action="/classes">
    <input type="number" name="number" value="{{.M}}"/>
    <input type="text" name="h" value="{{.H}}"/>
    <input type="submit" value="Do"/>
</form>

<div class="container">
    {{if .Classes}}
        <table border="1">
            <tr>
                <th>№</th>
                <th>bounds</th>
                <th>n</th>
                <th>p</th>
                <th>F<sub>N</sub>(x)</th>
            </tr>

            {{range $index, $variant := .Classes}}
                <tr>
                    <td>{{ $index }}</td>

                    {{if eq $index (sub (len $.Classes) 1)}}
                        <td>[{{ $variant.XFrom }};{{ $variant.XTo }}]</td>
                    {{else}}
                        <td>[{{ $variant.XFrom }};{{ $variant.XTo }})</td>
                    {{end}}
                    <td>{{ $variant.N }}</td>
                    <td>{{ $variant.P }}</td>
                    <td>{{ $variant.F }}</td>
                </tr>
            {{end}}
        </table>
    {{end}}

    <img src="data:image/svg+xml;base64,{{.Image}}">
</div>
{{template "footer" .}}
</body>
</html>