{{define "header"}}
    <head>
        <meta charset="utf-8">
        <title>{{.Title}}</title>
        <style>
            * {
            @import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:display=swap');
                font-family: "Roboto Mono", monospace;
            }

            .container {
                display: flex;
                align-items: flex-start;
                gap: 10px;
            }

        </style>
    </head>
{{end}}