<!doctype html>
<html>
{{template "header" .}}
<body>
<form enctype="multipart/form-data" action="/upload" method="post">
    <input type="file" name="file"/>
    <input type="submit" value="upload"/>

    {{template "footer" .}}
</body>
</html>