<!doctype html>
<html>
{{template "header" .}}
<body>
{{template "navbar" .}}

<div class="container-fluid">
    <table class="table table-bordered table-sm">
        <thead>
        <tr>
            <th>№</th>
            <th>x</th>
        </tr>
        </thead>
        <tbody>
        {{range $index, $variant := .Data}}
            <tr>
                <td>{{ add $index 1 }}</td>
                <td>{{ $variant }}</td>
            </tr>
        {{end}}
        </tbody>
    </table>

</div>

{{template "footer" .}}
</body>
</html>