<!doctype html>
<html>
{{template "header" .}}
<body>

<button type="submit"><a href="/variationalSeries">Variational Series</a></button>
<button type="submit"><a href="/characteristics">Characteristics</a></button>

<table border="1">
    <tr>
        <th>№</th>
        <th>x</th>
    </tr>

    {{range $index, $variant := .Data}}
        <tr>
            <td>{{ $index }}</td>
            <td>{{ $variant }}</td>
        </tr>
    {{end}}
</table>

{{template "footer" .}}
</body>
</html>