<!doctype html>
<html>
{{template "header" .}}
<body>

<table border="1">
    <tr>
        <th>№</th>
        <th>x</th>
        <th>n</th>
        <th>p</th>
        <th>F<sub>N</sub>(x)</th>
    </tr>

    {{range $index, $variant := .Variants}}
        <tr>
            <td>{{ $index }}</td>
            <td>{{ $variant.X }}</td>
            <td>{{ $variant.N }}</td>
            <td>{{ $variant.P }}</td>
            <td>{{ $variant.F }}</td>
        </tr>
    {{end}}
</table>

<button type="button"><a href="/variationalSeriesChart">Variational Series Chart</a></button>
<button type="button"><a href="/classes">Classes</a></button>

{{template "footer" .}}
</body>
</html>